<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel=stylesheet href="{% static 'css/style.css' %}">
    {%block title %}<title>BalticWave</title>{% endblock %}
    <meta charset="UTF-8">
</head>
<body>
<h1>BalticWave</h1>
<h2>Welcome!</h2>
<hr>
<ul>
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'products' %}">All current products</a></li>
    <li><a href="{% url 'services' %}">All current services</a></li>
</ul>
<hr>
{% block content %}{% endblock %}
</body>
</html>