<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    {% block title %}<title>BalticWave</title>{% endblock %}
</head>
<body>
<div class="header"><h1>BalticWave</h1></div>
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'products' %}">All current items</a></li>
        <li><a href="{% url 'services' %}">All current services</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'profile' %}">{{ user.get_username }}</a></li>
        <li><a href="#">My adverts</a></li>
        <li><a href="{% url 'my-products' %}">My items</a></li>
        <li><a href="{% url 'my-services' %}">My services</a></li>
        <li><a href="{% url 'logout'%}?next=/balticwave">Log out</a></li>
        {% else %}
        <li><a href="{% url 'login'%}?next={{request.path}}">Log in</a></li>
        <li><a href="{% url 'register'%}"> Register</a></li>
        {% endif %}
    </ul>
</nav>

{% block content %}{% endblock %}
</body>

</html>