{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container" style="margin-top:20px; margin-bottom:20px">
    <h3>My favourites:</h3>
    {% if new %}
    <div class="card-columns">
        {% for product in new %}
        <div class="card" style="width:341px; height:750px; margin:10px">
            {% if product.product_thumbnail %}
            <a href="{% url 'product-detail' product.id %}"><img src="{{ product.product_thumbnail.url }}" style="width:340px; height:354px"></a>
            {% else %}
            <a href="{% url 'product-detail' product.id %}"><img src="{% static 'img/no-image.png' %}" style="width:340px; height:354px"></a>
            {% endif %}
            <div class="card-body">
                <h3 class="text-center"><a href="{% url 'product-detail' product.id %}">{{ product.product_name }}</a></h3>
                <p class="card-text text-center">{{ product.short_description }}</p>
                <ul class="text-muted">
                    <li>Price: {{ product.price }}€</li>
                    <li>Type: {{ product.display_type }}</li>
                    <li>City: {{ product.get_city_display }}</li>
                    <li>Status: {{ product.get_status_display }}</li>
                    <li>Likes: {{ product.number_of_likes }}</li>
                </ul>
                <button><a href="{% url 'favourite-prod-add' product.id %}">Remove from favourites </a></button>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center">You have no favourite items!</h3>
    {% endif %}
</div>
{% endblock %}