{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="leftcolumn">
        <h3>Search for items and services!</h3>
        <form action="{% url 'search' %}" method="get" class="search-bar">
            <input name="query" type="text" placeholder="Search...">
            <button type="submit"><img src="{% static 'img/search.png' %}"></button>
        </form>
    </div>
</div>
<h3>Latest items:</h3>
{% for latest_prod in latest_prod %}
<ul>
    <li><a href="{% url 'product-detail' latest_prod.id %}"> {{ latest_prod }} | {{ latest_prod.insDate }} </a></li>
<hr>
</ul>
{% endfor %}
{% endblock %}