{% extends "base.html" %}
{% load static %}
{% block content %}

<form method="GET" action="{% url 'products' %}">
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
</form>

{% if products %}
{% for product in products %}
{% if product.product_thumbnail %}
<a href="{{ product.id }}"><img class="thumbimg" src="{{ product.product_thumbnail.url }}"></a>
{% else %}
<a href="{{ product.id }}"><img class="thumbimg" src="{% static 'img/no-image.png' %}"></a>
{% endif %}
<ul>
    <li>Name: <a href="{{ product.id }}">{{ product.product_name }}</a></li>
    <li>Price: {{ product.price }}€</li>
    <li>Type: {{ product.display_type }}</li>
    <li>City: {{ product.get_city_display }}</li>
    <li>Status: {{ product.get_status_display }} </li>
    <li>Likes: {{ product.number_of_likes }} </li>
</ul>
<hr>
{% endfor %}
{% else %}
<p>There are no listed items at the moment.</p>
{% endif %}

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}