{% extends "base.html" %}
{% load static %}
{% block content %}
<form method="GET" action="{% url 'products' %}">
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
</form>
{% if products %}
{% for product in products %}
<ul>
    {% if product.product_thumbnail %}
    <img src="{{ product.product_thumbnail.url }}">
    {% else %}
    <img src="{% static 'img/no-image.png' %}">
    {% endif %}
    <li><a href="{{ product.id }}">{{ product }}</a></li>
</ul>
{% endfor %}
<hr>
{% else %}
<p>There are no listed items at the moment.</p>
{% endif %}
  <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}